/*
Box model: inline, block
content, border, pending, margin
CSS units:
pixels,
percentages,
em(1em=16px) - relative to the current font size,
rem - use the global font size
viewport units - vh(height), vw(weight)

BEM - Block Element Modifier:
- use classes almost exclusively
Block: header, menu, form
Element: are part of the blocks: header__logo, menu__item, form__field
Modifier: a variant of the basic styles for a block or element: menu__item--selected
*/
*,
*::before,
*::after {
      box-sizing: inherit;
}
body {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, sans-serif;
    color: #002244;
}

main {
    max-width: 35rem;
    margin: 3.75rem auto 0 auto;
}
h1 {
    margin-bottom: 2.5rem;
}
img {
    max-width: 100%;
}